{% extends "base_site.html" %}

{% block content %}
    {% if quote_list %}
   <h1>List of quotes:</h1>
   <ul>
        {% for obj in quote_list %}
            <li>Heading: "{{ obj.heading }}" </li>
            <ul>Status: {{ obj.status }}</ul>
            <ul>
                <a href="{% url 'change_my_posts' pk=obj.pk %}">Change post</a>
                <a href="{% url 'delete_quote' pk=obj.pk %}">Delete post</a>
            </ul>
        {% endfor %}
        </ul>
    {% else %}
    <p>There are no quotes</p>
   {% endif %}


{% endblock %}